@media (max-width: 600px){

    header {
        padding: 0;
    }
    .header-title {
      
        padding: 3em 0;
    }

    .team-description ul {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2em;
    }

    .team-description ul li {
        max-width: 44%;
    }

    .team-description ul li img {
        width: 100%;
        height: auto;
    }

    .choose-us ul {
        flex-direction: column;
        gap: 1em;
    }

    .blog-news ul {
        flex-wrap: wrap;
        gap: 2em;
    }

    header nav {
       justify-content: center;
       text-align: center;
    }
    header nav ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-top: 2.5em;
    }

    header nav ul li {
        padding-right: 0;
    }

}
    



