@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap);
* {
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-family: Inter, serif;
    color: #747d8c;
}

main {
    display: flex;
    justify-content: space-evenly;
    width: 90vw;
    margin: 2em auto;
    background: #d9d9d9;
}
article {
    flex-basis: 31%;
    display: flex;
    flex-direction: column;
    /* min-height: 5em; */
    /* border: 1px solid gray; */
    margin: 2em 0;
    box-shadow: 3px 3px grey;
    
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
h1 {
    margin: 1em 0 2em 0;
    font-weight: normal;
}
article section:first-child{
    height: 40%;
    overflow: hidden;
    margin-bottom: 2em;
}
article section:nth-child(2){
    border-bottom: 1px solid gray;
    padding-bottom: 1em;
}
article section:nth-child(2),
article section:last-child{
    width: 80%;
    margin: 0 auto;
}
article section:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1em;
}
article section:last-child div{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px
}
article section:last-child div img{
 max-width: 2em;
 max-height: 2em;
 overflow: hidden;
 border-radius: 50%;
}
section p:first-child {
    font-weight: bold;
}
section > span {
    color: #a4b0be;
}
article:hover{
    transform: scale(1.05);
}