@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
    font: 16px/1.3 Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    display: block;
}
.header, ul {
    display: flex;
}

.header {
    justify-content: space-between;
    padding: 2em 5em;
}

.header nav ul {
    display: flex;
    gap: 2em;
}
.header nav ul li:hover {
    padding-bottom: 0.5em;
    border-bottom: 2px solid #21acc7;
}

.header h1 {
    font-weight: initial;
}

.header h1 span {
    color: #21acc7;
}

.header nav ul li a {
    text-decoration: none;
    color: grey;
}

.sec2 {
    min-height: 30em;
    background-image: url(images/slide2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.sec2 .cta {
    position: absolute;
    color: white;
    top: 11em;
    left: 8em;
    background-color: rgb(0, 0, 0, 0.5);
    padding: 1em;
}

.sec2 .cta h2 {
    font-size: 2.4em;
    font-weight: initial;
}

.sec2 .cta p {
    margin-top: 1em;
    margin-bottom: 0.5em;
}
.sec2 .cta p a {
    padding: 0.5em 3em;
    color: white;
    background-color: #21acc7;
    border-radius: 26px;
    text-decoration: none;
}

.sec3 .welcome {
    display: flex;
    flex-direction: column;
    max-width: 86%;
    align-items: center;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
    color: #454545;
}

.sec3 .welcome h2 {
    padding-bottom: 1em;
    font-size: 1.7em;
    font-weight: initial;
}

.sec3 .welcome h2:after {
    display: block;
    content: "";
    text-decoration: underline;
    border: 2px solid #21acc7;
    width: 95px;
    margin-left: 5.5em;
    margin-top: 0.2em;
}

.sec3 .welcome p:last-child {
    padding: 3em;
}

.sec3 .welcome p a {
    text-decoration: none;
    padding: 1em 2.5em;
    border-radius: 26px;
    color: white;
    background-color: #454545;
}

.sec4 {
    padding: 1em;
    background-color: lightgray;
}

.sec4 h2 {
    text-align: center;
    padding: 1em;
}


.sec4 .services {
    display: flex;
    max-width: 86%;
    gap: 1em;
    margin: 0 auto;
}

.sec4 .services article {
    flex: 1 1 30%;
    border-radius: 4px;
    overflow: hidden;
    background-color: white;
    text-align: center;
}

.sec4 .services article img {
    display: block;
    width: 100%;
    height: auto;
}

.sec4 .services article h3 {
    padding: 1em;
}

.sec4 .services article p {
    padding: 1em;
}

.sec4 .services article p:last-child {
    margin-bottom: 2em;
}

.sec4 .services article p a {
    color: white;
    background-color: #454545;
    padding: 1em 3em;
    border-radius: 4px;
}

.sec5 {
    background-color: #393f43;
}

.sec5 .newsletter {
    max-width: 86%;
    margin: 0 auto;
    text-align: center;
    padding: 3em;
    color: white;
    font-size: 1.3em;
}

.sec5 .newsletter p {
    padding: 1em 0;
}

.sec5 .newsletter button {
    padding: 1em 2em;
    background-color: #6bbfff;
    border-radius: 6px;
    color: white;
}

.sec5 .newsletter input {
    padding: 1em 5em 1em 0.5em;
    border-radius: 6px;
    min-width: 40em;
    background-color: #545a5e;
}

.sec6 {
    background-color: #2f3539;
    color: white;
}